.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  button {
    width: 140px;
    height: 80px;
    border-radius: 10px;
    border: none;
    background-color: var(--preview-border-color);
    user-select: none;
    &:hover {
      background-color: var(--primary-color);
    }
  }
}
.tilBox {
  width: 1200px;
}
.tilList {
  background-color: wheat;
}
