.modalBackground {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal {
  background: #ffffff;
  position: relative;
  top: 15%;
  width: 550px;
  height: 800px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  padding: 36px 80px 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.editBox {
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  .inputBox {
    width: 100%;
    margin: 5px;
  }
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  input {
    padding: 0.875rem;
    display: block;
    width: 100%;
    border: 1px solid var(--btn-border-color);
    border-radius: 0.25rem;
    transition: border 0.1s ease-in-out;
    &:focus {
      border: 1px solid var(--btn-border-focus-color) !important;
    }
  }
  .comment {
    height: 150px;
  }
}

.profileImage {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: beige;
}
.commentBox {
  width: 280px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 20px;
    text-align: center;
    overflow-wrap: break-word;
  }
}
.email {
  font-size: 8px;
}
/**/

.eidtBoxWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.editBtnWrapper {
  padding: 30px 80px;
}
.editBox {
  height: 100%;
}
.editBtn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(15, 20, 25);
  color: white;
  font-size: 17px;
  cursor: pointer;
  border: none;
}
.editBtn:disabled {
  opacity: 0.5;
}
.editBtn:hover {
  background-color: rgb(39, 44, 48);
}

.closeBtn {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeBtn:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
