.userProfileContainer {
  width: 1000px;
  height: 450px;
  background-color: rgb(170, 231, 170);
  display: flex;
  flex-direction: row;
}
.userInfoLeft {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  flex: 1;
  align-items: center;
}
.profileImage {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: beige;
}
.commentBox {
  width: 280px;
  height: 80px;
  display: flex;
  align-items: center;
  p {
    font-size: 20px;
    text-align: center;
    overflow-wrap: break-word;
  }
}
.email {
  font-size: 8px;
}
.follow {
  display: flex;
  font-size: 20px;
  width: 215px;
  justify-content: space-between;
}
.userInfoRight {
  display: flex;
  flex-direction: column;
  flex: 2;
  position: relative;
  align-items: center;
}
.chageProfileBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  border: 1px solid rgb(221, 219, 219);
  border-radius: 15px;
  cursor: pointer;
}
.icon {
  color: var(--google);
}
.tilCalendar {
  width: 600px;
  height: 300px;
  background-color: beige;
}
.record {
  font-size: 35px;
}
