.container {
  border: 3px solid black;
  margin: 0 auto;
  max-width: 1000px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.postingForm {
  display: flex;
  gap: 30px;

  flex-direction: column;
  align-items: center;
}
.postTitle {
  border: none;
  border-bottom: 2px solid black;
  width: 750px;
  height: 50px;
  padding: 5px;
}
.editBox {
  width: 800px;
  height: 200px;
}
.editorBox {
  height: 250px;
}
.postingBtnBox {
  display: flex;
  gap: 30px;
}
