
.navbarBox{
  display: flex;
  align-items: center;
  padding: 0 70px;
  height: 80px;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex-direction: row;
  justify-content: space-between;

}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.logoText {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}
.menuBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.menuItem {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: white;
  }

 @media (max-width:720px) {
    display: none;
  }
}