:root {
  --max-width: 1400px;
  --primary-color: #d2e0fb;
  --bg-color: #fff;
  --border-light-color: rgb(226 232 240);
  --border-color: rgb(203 213 225);
  --text-color: #000;
  --text-placeholder-color: #888;
  --text-hover-color: #333;
  --card-bg: #fff;
  --card-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --btn-default-color: #fff;
  --btn-default-text-color: #333;
  --btn-disabled-color: #e2e8f0;
  --btn-disabled-text-color: #64748b;
  --btn-active-color: #04aa6d;
  --btn-warn-color: #f44336;
  --btn-follow-color: #4e6280;
  /* --btn-follow-color: #1e293b; */
  --preview-bg-color: #f8fafc;
  --preview-border-color: #e2e8f0;
  --btn-border-color: #cbd5e1;
  --btn-border-focus-color: #0f172a;
  --divide-color: #cbd5e1;
  --google: #3f85f4;
  --github: #333;
}
