.container {
  margin: 0 auto;
  max-width: var(--max-width);
}
.login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 384px;

  h1 {
    margin-bottom: 3rem;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
  }
}

.inputBox {
  margin-bottom: 1rem;

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  input {
    padding: 0.875rem;
    display: block;
    width: 100%;
    border: 1px solid var(--btn-border-color);
    border-radius: 0.25rem;
    transition: border 0.1s ease-in-out;

    &:focus {
      border: 1px solid var(--btn-border-focus-color) !important;
    }
  }
}

.btnBox {
  margin-bottom: 0.5rem;
  button {
    padding: 0.875rem;
    width: 100%;
    border: none;
    border-radius: 0.25rem;
  }

  svg {
    transform: translateY(2px);
  }
}

.divide {
  margin: 8px 0;
  position: relative;
  text-align: center;
  opacity: 0.8;

  span {
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      width: 42%;
      height: 1px;
      content: '';
      background-color: var(--divide-color);
    }
    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      display: inline-block;
      width: 42%;
      height: 1px;
      content: '';
      background-color: var(--divide-color);
    }
  }
}

.link {
  margin: 8px 0;
  text-align: center;
}
.google {
  background-color: var(--google);
  color: white;
}
.github {
  background-color: var(--github);
  color: white;
}
