.container {
  max-width: var(--max-width);
  height: 100dvh;
  background-color: rgb(174, 174, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editBox {
  background-color: skyblue;
  width: 600px;
  height: 100px;
}
